<!DOCTYPE html>
<html lang="en">
<head>
  <title>Portal Korporat RTM</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="asset/css/bootstrap.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" type="text/css" href="css/menu1.css">
  <link rel="stylesheet" type="text/css" href="css/menu2.css">
  <link rel="stylesheet" type="text/css" href="css/carausel.css">
  <link rel="stylesheet" type="text/css" href="css/cover.css">
  <link rel="stylesheet" type="text/css" href="css/pagination.css">
  <link rel="stylesheet" type="text/css" href="css/breadcrumb.css">
  <link rel="stylesheet" type="text/css" href="css/linklist.css">
  <link rel="stylesheet" type="text/css" href="css/searchbox.css">
  <link rel="stylesheet" type="text/css" href="css/directory.css">
  <link rel="stylesheet" type="text/css" href="css/footer.css">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#171717" id="navbardiatas">
    <a class="navbar-brand" href="#"><img class="img-responsive" style="margin-left:20px" src="logortmbaharu2.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbaratas" aria-controls="navbaratas" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbaratas">
  
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"  data-toggle="dropdown">
            MENGENAI KAMI
          </a>
          <div class="dropdown-menu"  aria-labelledby="navbarDropdown" style="min-width:280px"  >
            <ul class="nav flex-column" >
              <li class="nav-item border-bottom">
                <a class="nav-link" href="#">Latar Belakang</a>
              </li>
              <li class="nav-item border-bottom">
                <a class="nav-link" href="#" >Visi dan Misi</a>
              </li>                <li class="nav-item border-bottom">
                <a class="nav-link" href="#">Logo RTM</a>
              </li>                <li class="nav-item border-bottom">
                <a class="nav-link" href="#">Bahagian</a>
              </li>
              <li class="nav-item border-bottom">
                <a class="nav-link" href="#">Piagam Pelanggan</a>
              </li>
              <li class="nav-item border-bottom">
                <a class="nav-link" href="#">Prestasi Piagam Pelanggan</a>
              </li>
                      <li class="nav-item border-bottom">
                <a class="nav-link" href="#">Mantan Ketua Pengarah</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Jabatan / Agensi</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">MAKLUMBALAS</a>
        </li>
      </ul>


      <ul class="navbar-nav ml-auto">
        <li><a style="color:white" href="https://www.tiktok.com/@radiotelevisyenmalaysia?" class="nav-link font-weight-bold text-uppercase"><img src="tiktok-xxl.png" class="img-fluid" alt="Responsive image"/></a></li>
        <li ><a style="color:white" href="https://twitter.com/rtm_malaysia?lang=en" class="nav-link font-weight-bold text-uppercase"><img src="twitter.svg" class="img-fluid" alt="Responsive image"/></a></li>
        <li ><a style="color:white" href="https://www.facebook.com/RadioTelevisyenMalaysia/?locale=ms_MY" class="nav-link font-weight-bold text-uppercase"><img src="facebook.svg" class="img-fluid" alt="Responsive image"/></a></li>
        <li><a style="color:white" href="https://www.instagram.com/rtm_malaysia/" class="nav-link font-weight-bold text-uppercase"><img src="instagram.svg" class="img-fluid" alt="Responsive image"/></a></li>

        <li><a style="color:white" href="https://www.youtube.com/channel/UCF4KdUqyxJ5Cb0NTGhZXt9g" class="nav-link font-weight-bold text-uppercase"><img src="youtube.png" class="img-fluid" alt="Responsive image"/></a></li>
      </ul>
    </div>
  </nav>

  <nav class="navbar navbar-expand-lg navbar-light shadow-sm" style="background-color:white" id="navbardibawah">
  
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarbawah" aria-controls="navbarbawah" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarbawah">
      <ul class="navbar-nav mx-auto">
    
    <li class="nav-item">
          <a class="nav-link" href="#">UTAMA</a>
        </li>
    
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            TV
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="margin-top:-10px">
              <a class="dropdown-item" href="#">TV1</a>
              <a class="dropdown-item" href="#">TV2</a>
              <a class="dropdown-item" href="#">TV OKEY</a>
          </div>
        </li>
      
        <li class="nav-item">
          <a class="nav-link" href="#">RADIO</a>
        </li>
      
        <li class="nav-item">
          <a class="nav-link" href="#">PENCAPAIAN</a>
        </li>
          
        <li class="nav-item">
          <a class="nav-link" href="#">AKTIVITI</a>
        </li>
      
        <li class="nav-item">
          <a class="nav-link" href="#">RATE CARD RTM</a>
        </li>
    
        <li class="nav-item">
          <a class="nav-link" href="#">GALERI</a>
        </li>
      
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            DIREKTORI
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="margin-top:-10px">
            <a class="dropdown-item" href="#">DIREKTORI ANGKASAPURI</a>
            <a class="dropdown-item" href="#">DIREKTORI NEGERI</a>
          </div>
        </li>
      </ul>

    </div>


  </nav>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-1">
      </div>

      <div class="col-md-10">

        <ul class="breadcrumb" style="margin-top:40px">
          <li><a href="index.html">Utama</a></li>
          <li><a href="direktoriangkasapuri.html">Direktori</a></li>
          <li><a href="direktoriangkasapuri.html">Direktori Angkasapuri</a></li>
          <li>Pejabat Ketua Pengarah</li>
        </ul>

        <h1 style="margin-top:4rem;">Pejabat Ketua Pengarah</h1>




        <div class="container-fluid" style="margin-top:4rem;">

            <div class="table-responsive">    
            
              test
            
            </div>	
        </div>
      </div>

      <div class="col-md-1">
      </div>

    </div>
  </div>

  <footer class="footer" >
  <div class="container bottom_border" style="margin-top : 20px" >
  <div class="row" >
  <div class=" col-sm-6 col-md-3  col-12 col">

  <ul class="footer_ul_amrc">
  <li><a href="http://www.mampu.gov.my/ms/"><img  class="img-fluid" src="asset/footer/mampu.png"></a></li>
  <li><a href="https://www.malaysia.gov.my/portal/index"><img  class="img-fluid" src="asset/footer/mygov2.png"></a></li>
  <li><a href="#"><img  class="img-fluid" src="asset/footer/ksn2.png"></a></li>
  <li><a href="#"><img  class="img-fluid" src="asset/footer/msc-white.png"></a></li>
  </ul>
  <!--footer_ul_amrc ends here-->

  </div>


  <div class=" col-sm-6 col-md-3  col-12 col">

  <!--headin5_amrc-->
  <ul class="footer_ul_amrc ">
  <li><a href="#">Dasar Keselematan</a></li>
  <li><a href="#">Penafian</a></li>
  <li><a href="#">Dasar Privasi</a></li>
  <li><a href="#">Latar Belakang</a></li>
  <li><a href="#">Peta Laman</a></li>
  <li><a href="#">Jabatan/Agensi</a></li>
  <li><a href="#">Permohonan Maklumat</a></li>
  </ul>
  <!--footer_ul_amrc ends here-->
  </div>


  <div class=" col-sm-6 col-md-3  col-12 col">

  <!--headin5_amrc-->

  <!--headin5_amrc-->
  <p class="mb10">Radio Televisyen Malaysia<br>
  Angkasapuri Kota Media<br>
  50614 Kuala Lumpur</p>

  <p>aduan [at] rtm.gov.my </p>
  <p> Tel: 03 - 2282 5333 </p>
  <p> Faks: 03 - 2284 7591 </p>




  </div>


  <div class=" col-sm-6 col-md-3  col-12 col">

  <ul class="footer_ul_amrc ">
  <li><a href="https://apps.apple.com/my/app/rtmklik/id777391399"><img  class="img-fluid" src="asset/footer/apps.png"></a></li>
  <li><a href="https://play.google.com/store/apps/details?id=my.gov.rtm.mobile"><img  class="img-fluid" src="asset/footer/googleplay-bm.png"></a></li>
  <li><a href="https://appgallery.huawei.com/app/C101841473"><img  class="img-fluid" src="asset/footer/huawei_appsgaleryedit1.png"></a></li>

  </ul>

  <p> Kemaskini Terakhir : 26 Jun 2023. </p>
  <p> Jumlah Pengunjung : 42581265 </p>
  <!--footer_ul2_amrc ends here-->
  </div>
  </div>
  </div>


  <div class="container">


  <div class="row" >




  <div class="col-md-12 d-flex justify-content-center">
  <!--foote_bottom_ul_amrc ends here-->
  <p style="margin-top:0.5rem">Hak Cipta Terpelihara @ 2023 RADIO TELEVISYEN MALAYSIA</p>
  </div>
  </div>
  <!--social_footer_ul ends here-->
  </div>

  </footer>

</body>
</html>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="asset/js/bootstrap.bundle.min.js"></script>
