
ul.directory-staffs {
  padding: 10px 16px;
  list-style: none;
  background-color: white;
}
ul.directory-staffs li {
  display: inline;
  font-size: 18px;
  color: white;
}
ul.directory-staffs li+li:before {
  padding: 8px;
  color: white;
  content: "/\00a0";
}
ul.directory-staffs li a {
  color: #ffa525;
  text-decoration: none;
}
ul.directory-staffs li a:hover {
  color: black;
  text-decoration: underline;
}

ul.directory-department {
  padding: 10px 16px;
  list-style: none;
  background-color: white;
}
ul.directory-department li {
  display: inline;
  font-size: 18px;
  color: white;
}
ul.directory-department li+li:before {
  padding: 8px;
  color: white;
  content: "/\00a0";
}
ul.directory-department li a {
  color: blue;
  text-decoration: none;
}
ul.directory-department li a:hover {
  color: black;
  text-decoration: underline;
}
