
.glow {
  height: 10px;
  width: 200px;
  background-color: #6c757d; /* Bootstrap secondary color */
  animation: glow-animation 1s infinite alternate;
}

@keyframes glow-animation {
  0% {
    box-shadow: 0 0 5px #FFF;
  }
  100% {
    box-shadow: 0 0 20px #6c757d;
  }
}

/*--------------------------------------------------------------------------------------------   gambaR style --------------------------------------------------------------------------------*/


#gambardirektorilist{
  max-width: 140px;
  margin: 0 auto;
  border-radius: 300px;
  border: 1px solid #e4e4e4;
}


/*--------------------------------------------------------------------------------------------   gambar style --------------------------------------------------------------------------------*/



/*--------------------------------------------------------------------------------------------   breadcrumb -------------------------------------------------------------------------------*/


ul.breadcrumb {
padding: 10px 16px;
list-style: none;
background-color: #171717;
}
ul.breadcrumb li {
display: inline;
font-size: 18px;
color: white;
}
ul.breadcrumb li+li:before {
padding: 8px;
color: white;
content: "/\00a0";
}
ul.breadcrumb li a {
color: #ffa525;
text-decoration: none;
}
ul.breadcrumb li a:hover {
color: #01447e;
text-decoration: underline;
}




/*--------------------------------------------------------------------------------------------   breadcrumb --------------------------------------------------------------------------------*/



/*--------------------------------------------------------------------------------------------   search style --------------------------------------------------------------------------------*/

/* Styles for wrapping the search box */

.main {

}

/* Bootstrap 4 text input with search icon */

.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

/*--------------------------------------------------------------------------------------------   search style ------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------------------------   link direktori style --------------------------------------------------------------------------------*/






#linkdirektoridiv:link { 
text-decoration: none; 
}




#linkdirektori{
color:#ffa525;
}


#linkdirektoripdiv:link {
text-decoration: none; 
}

#linkdirektorip{
color:#333333;
}




/*--------------------------------------------------------------------------------------------   link direktori style --------------------------------------------------------------------------------*/





#containerdirektori
{

box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}

/*--------------------------------------------------------------------------------------------   Container Direktori ----------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------------------------  kalertulisan ---------------------------------------------------------------------------*/

#kalertulisan
{
color:white;

}

/*--------*/


/*-------------------------------------------------------------------------------------------  namecardkaler -----------------------------------------------------------------------------*/

#namecardkaler
{
background-color:rgb(6, 57, 112);

}

/*-------*/

/*-------------------------------------------------------------------------------------------  namecardkaler ----------------------------------------------------------------------------*/

#namecardkaler
{
background-color:rgb(6, 57, 112);

}

/*--------*/

#mediasosialrow
{
margin-left:1px;
}
